<totvs-page type="detail">
    <totvs-page-navbar>
        <totvs-page-breadcrumb>
            <breadcrumb link="#/">
                <span class="hidden-xs">{{ ::'l-home' | i18n : [] : 'js/dashboard' }}</span>
                <span class="glyphicon glyphicon-home hidden-sm hidden-md hidden-lg"></span>
            </breadcrumb>
            <breadcrumb link="#/dashboard">{{ ::controller.dashboard.name }}</breadcrumb>
            <breadcrumb>{{ ::'l-configuration' | i18n : [] : 'js/dashboard' }}</breadcrumb>
        </totvs-page-breadcrumb>
        <totvs-page-header>
            <totvs-page-header-title title="{{ controller.dashboard.header }}" settings="controller.settings()">
            </totvs-page-header-title>
            <totvs-page-header-operation>
                <totvs-page-header-operation-action
                    hide-edit="true"
                    hide-back="true"
                    hide-remove="true">
                    <action ng-click="controller.cancel()">Cancelar</action>
                    <action ng-click="controller.save()">Salvar</action>
                </totvs-page-header-operation-action>
            </totvs-page-header-operation>
        </totvs-page-header>
    </totvs-page-navbar>

    <totvs-page-content>
        <totvs-row>
            <div class="col-xs-12">
                <totvs-page-form t-name="frmDashboard">
                    <fieldset>

                        <totvs-field totvs-input class="col-md-6" ng-model="controller.dashboard.name"
                            label="Nome" ng-required="true">
                        </totvs-field>

                        <totvs-field totvs-input class="col-md-6" ng-model="controller.dashboard.header"
                            label="Cabeçalho" ng-required="true">
                        </totvs-field>

                    </fieldset>
                </totvs-page-form>

                <div ng-repeat="widget in controller.dashboard.widgets" class="dashboard-portlet-config col-md-12"
                    ng-class="{'col-md-6':widget.size === 'half'}">

                    <div class="dashboard-on-drag" ng-drop="true"
                        ng-drop-success="controller.onDropPortletComplete($index, $data)">

                        <totvs-widget class="dashboard-painel-no-border"
                            ng-drag="true" ng-drag-data="widget">

                            <totvs-widget-header class="dashboard-portlet-header-config">

                                <div class="pull-left btn">
                                    <span class="glyphicon glyphicon glyphicon-move"></span>
                                </div>

                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-if="!$first"
                                        ng-click="controller.up($index)" title="{{ 'l-move-up' | i18n }}">
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-if="!$last"
                                        ng-click="controller.down($index)" title="{{ 'l-move-down' | i18n }}">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </button>
                                    <button type="button" class="btn btn-default"
                                        ng-click="controller.changesize($index)"
                                        title="{{ 'l-change-width' | i18n }}">
                                        <span class="glyphicon glyphicon-resize-horizontal"></span>
                                    </button>
                                    <button type="button" class="btn btn-default"
                                        ng-click="controller.remove($index)" title="{{ 'l-delete' | i18n }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>

                            </totvs-widget-header>

                            <totvs-widget-body>
                                <div class="disabled-div" ng-include="'js/dashboard/widgets/' + widget.source"></div>
                            </totvs-widget-body>

                        </totvs-widget>

                    </div>

                </div>

            </div>
        </totvs-row>
    </totvs-page-content>
</totvs-page>
