<totvs-modal-header>{{ 'btn-advanced-search' | i18n }}</totvs-modal-header>

<totvs-modal-body>
    <totvs-row>
        <form class="form-horizontal" role="form">

            <totvs-field totvs-input class="col-lg-6" ng-model="controller.advancedSearch.name"
                label="{{ ::'l-name' | i18n : [] : 'js/customers' }}" canclean></totvs-field>

            <totvs-field totvs-input class="col-lg-6" ng-model="controller.advancedSearch.doc_cpf"
                label="{{ ::'l-doc-cpf' | i18n : [] : 'js/customers' }}" t-mask="999.999.999-99" canclean></totvs-field>

            <totvs-field totvs-input class="col-lg-12" ng-model="controller.advancedSearch.address_street"
                label="{{ ::'l-address-street' | i18n : [] : 'js/customers' }}" canclean></totvs-field>

            <totvs-field totvs-date-range class="col-lg-12" ng-model="controller.advancedSearch.birthday"
                label="{{ ::'l-birthday' | i18n : [] : 'js/customers' }}" canclean></totvs-field>

        </form>
    </totvs-row>
</totvs-modal-body>

<totvs-modal-footer>
    <button type="button" class="btn btn-default" ng-click="controller.close();">{{ ::'btn-cancel' | i18n }}</button>
    <button type="button" class="btn btn-primary" ng-click="controller.search();">{{ ::'btn-confirm' | i18n }}</button>
</totvs-modal-footer>
