<!DOCTYPE html>
<html<% if (!useRequireJS) { %> ng-app="totvsApp"<% } %>>
<head>
	<title>TOTVS | <%= title %></title>

	<!-- start: Meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta charset="utf-8">

	<meta name="description" content="TOTVS <%= title %>">
	<meta name="keywords" content="totvs">
	<meta name="author" content="totvs">
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
	<!-- end: Meta -->

	<!-- start: Favicon and Touch Icons -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<!-- end: Favicon and Touch Icons --><% if (!useRequireJS) { %>

    <link rel="stylesheet" href="js/libs/bootstrap/dist/css/bootstrap<% if (minification) { %>.min<% } %>.css">
    <link rel="stylesheet" href="js/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3<% if (minification) { %>.min<% } %>.css">
    <link rel="stylesheet" href="js/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch<% if (minification) { %>.min<% } %>.css">

    <link rel="stylesheet" href="js/libs/angular-nestable/lib/jquery.nestable.css">

    <link rel="stylesheet" href="js/libs/AngularJS-Toaster/toaster<% if (minification) { %>.min<% } %>.css">

    <link rel="stylesheet" href="js/libs/angular-ui-select/dist/select<% if (minification) { %>.min<% } %>.css">

    <link rel="stylesheet" href="js/libs/telerik.kendoui/styles/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="js/libs/telerik.kendoui/styles/kendo.bootstrap.min.css">

    <link rel="stylesheet" href="js/libs/totvs-html-framework/assets/css/totvs-html-framework.css">

    <link rel="stylesheet" href="assets/css/app.min.css"><% if (createDashboard) { %>

    <link rel="stylesheet" href="js/dashboard/assets/css/dashboard.style.css"><% } %><% } %>
</head>

<body ng-cloak>

    <!-- Component TOASTER -->
    <toaster-container toaster-options="{'time-out':3000}"></toaster-container>

    <!-- APP / DESKTOP HTML -->
    <div id="menu-wrapper" class="total-height" style="background-color: #e0e5eA" ng-controller="TotvsDesktopController as desktop">
        <!-- TABS AND OPTIONS -->
        <div>
            <totvs-desktop-tab <% if (tabPageApp) { %>t-tabs="desktop.tabs" <% } %>t-options="desktop.options"></totvs-desktop-tab>
        </div>

        <!-- HEADER -->
        <div>
            <totvs-desktop-header t-title="TOTVS" t-informations="desktop.headerInformations"></totvs-desktop-header>
        </div>

        <!-- MENU -->
        <div id="menu-contents"><% if (tabPageApp) { %>
            <div id="menu-view" <% if (useUIRouter) { %>ui-view<% } else { %>ng-view<% } %>></div>
            <% } else { %>
            <div class="container-fluid total-height">

                <!-- MENU LATERAL -->
                <div class="row no-gutter total-height" id="menu-desktop">
                    <div class="col-md-2 col-sm-3 col-xs-4 total-height" id="menu-lateral">
                        <!-- LOGOTIPO -->
                        <div class="menu-block hidden-sm hidden-xs" id="menu-logo">
                             <img ng-src="{{ ::desktop.srcLogo }}" >
                        </div>

                        <!-- ESTRUTURA DO MENU -->
                        <div class="menu-block disable-select" id="menu-structure">
                            <!-- RECENTES -->
                            <div class="menu-title" id="recs" ng-click="desktop.loadMenu('recs')"
                                ng-class="{active: desktop.selectedMenuGroup === 'recs'}">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                &nbsp;{{ ::'recents' | i18n }}
                            </div>

                            <div id="menu-recents" style="display: none;">
                                <div ng-repeat="recent in desktop.recents track by $index">
                                    <div class="menu-item" title="{{recent.program}}"
                                        ng-click="desktop.openMenuProgram(recent)"
                                        ng-class="{active: recent === desktop.selectedRecent}">
                                        <span class="menu-item-text">{{ recent.program }}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- FAVORITOS -->
                            <div class="menu-title" id="favs" ng-click="desktop.loadMenu('favs')"
                                ng-class="{active: desktop.selectedMenuGroup === 'favs'}">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                &nbsp;{{ ::'favorites' | i18n }}
                            </div>

                            <div id="menu-favorites">
                                <div ng-repeat="favorite in desktop.favorites track by $index">
                                    <div class="menu-item" title="{{favorite.program}}"
                                        ng-click="desktop.openMenuProgram(favorite)"
                                        ng-class="{active: favorite === desktop.selectedFavorite}">
                                        <span class="menu-item-text">{{ favorite.program }}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- APLICATIVOS -->
                            <div class="menu-title" id="apps" ng-click="desktop.loadMenu('apps')"
                                ng-class="{active: desktop.selectedMenuGroup === 'apps'}">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                &nbsp;{{ ::'applications' | i18n }}
                            </div>

                            <div id="menu-applications" style="display: none;">
                                <div ng-repeat="app in desktop.applications">
                                    <div class="menu-group" id="{{app.id}}" ng-click="desktop.loadPrograms(app)">
                                        {{ ::app.application }}
                                    </div>

                                    <div id="menu-modules" style="display: none">
                                        <div class="menu-item" id="{{app.codGroupAplicat + '.' + module.codModul}}"
                                            title="{{module.module}}"
                                            ng-repeat="program in app.programs track by $index"
                                            ng-click="desktop.openMenuProgram(program)"
                                            ng-class="{active: program === desktop.selectedprogram}">
                                            <span class="menu-item-text">{{ program.program }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- PROCESSOS -->
                            <div class="menu-title" id="prcs" ng-click="desktop.loadMenu('prcs')"
                                ng-class="{active: desktop.selectedMenuGroup === 'prcs'}">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                &nbsp;{{ ::'processes' | i18n }}
                            </div>

                            <div id="menu-processes" style="display: none;">
                                <div ng-repeat="prcs in desktop.processes track by $index">
                                    <div class="menu-item" id="{{prcs.id}}" title="{{prcs.program}}"
                                        ng-click="desktop.openMenuProgram(prcs)"
                                        ng-class="{active: prcs === desktop.selectedProcess}">
                                        <span class="menu-item-text">{{ prcs.program }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-9 col-xs-12 total-height" id="menu-workspace">
                        <!-- CONTEÚDO DO MENU -->
                        <div class="menu-block" id="menu-content" style="padding: 0;">
                            <div id="menu-view" <% if (useUIRouter) { %>ui-view<% } else { %>ng-view<% } %>></div>
                        </div>
                    </div>
                </div>
            </div><% } %>
        </div>
    </div>

    <% if (useRequireJS) { %><!-- RequireJs -->
    <!-- Script de configuração do APP, deve ser chamado no HTML antes do RequireJs -->
    <script src="js/setup/config-app.js"></script>

    <script src="js/libs/require.js" data-main="js/main" charset="utf8"></script>
    <% } else { %><!-- Carga dos arquivos JS -->
    <script src="js/libs/jquery/dist/jquery<% if (minification) { %>.min<% } %>.js"></script>

    <script src="js/libs/bootstrap/dist/js/bootstrap<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="js/libs/bootstrap-switch/dist/js/bootstrap-switch<% if (minification) { %>.min<% } %>.js"></script>

    <script src="js/libs/angular/angular<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/angular-scroll/angular-scroll<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/angular-animate/angular-animate<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/angular-bootstrap/ui-bootstrap-tpls<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/angular-hotkeys/build/hotkeys<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="js/libs/angular-nestable/src/angular-nestable.js"></script>
    <script src="js/libs/angular-nestable/lib/jquery.nestable.js"></script>
    <script src="js/libs/angular-resource/angular-resource<% if (minification) { %>.min<% } %>.js"></script><% if (!useUIRouter) { %>
    <script src="js/libs/angular-route/angular-route<% if (minification) { %>.min<% } %>.js"></script><% } %>
    <script src="js/libs/angular-sanitize/angular-sanitize<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/angular-ui-mask/dist/mask<% if (minification) { %>.min<% } %>.js"></script>
    <script src="js/libs/ngMask/dist/ngMask<% if (minification) { %>.min<% } %>.js"></script><% if (useUIRouter) { %>
    <script src="js/libs/angular-ui-router/release/angular-ui-router<% if (minification) { %>.min<% } %>.js"></script><% } %>
    <script src="js/libs/angular-ui-select/dist/select<% if (minification) { %>.min<% } %>.js"></script>

    <script src="js/libs/AngularJS-Toaster/toaster<% if (minification) { %>.min<% } %>.js"></script><% if (createDashboard) { %>

    <script src="js/libs/ngDraggable/ngDraggable.js"></script><% } %>

    <script src="js/libs/telerik.kendoui/js/kendo.all.min.js"></script>
    <script src="js/libs/telerik.kendoui/js/cultures/kendo.culture.pt.min.js"></script>
    <script src="js/libs/telerik.kendoui/js/cultures/kendo.culture.en.min.js"></script>
    <script src="js/libs/telerik.kendoui/js/cultures/kendo.culture.es.min.js"></script>

    <script src="js/libs/totvs-html-framework/totvs-html-framework.js"></script>

    <script src="js/totvs-app.module.js"></script>
    <script src="js/totvs-app.config.js"></script>
    <script src="js/totvs-app.route.js"></script><% if (tabPageApp) { %>

    <!-- Menu Tab -->
    <script src="js/totvs-menu/totvs-menu.module.js"></script>
    <script src="js/totvs-menu/totvs-menu.constant.js"></script>
    <script src="js/totvs-menu/totvs-menu-recents.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu-favorites.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu-programs.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu-processes.factory.js"></script>
    <script src="js/totvs-menu/totvs-menu.controller.js"></script><% } %>

    <!-- Desktop -->
    <script src="js/totvs-desktop/totvs-desktop.module.js"></script><% if (singlePageApp) { %>
    <script src="js/totvs-desktop/totvs-desktop-menu-recents.factory.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-menu-favorites.factory.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-menu-programs.factory.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-menu-processes.factory.js"></script><% } %><% if (tabPageApp) { %>
    <script src="js/totvs-desktop/totvs-desktop-view.service.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-tab.service.js"></script><% } %>
    <script src="js/totvs-desktop/totvs-desktop-sidebar.service.js"></script>
    <script src="js/totvs-desktop/totvs-desktop.controller.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-header.directive.js"></script>
    <script src="js/totvs-desktop/totvs-desktop-tab.directive.js"></script><% if (createCRUD) { %>

    <!-- Customer -->
    <script src="js/customers/customers.module.js"></script>
    <script src="js/customers/customers.route.js"></script>
    <script src="js/customers/customers.factory.js"></script>
    <script src="js/customers/customers-search.controller.js"></script>
    <script src="js/customers/customers-list.controller.js"></script>
    <script src="js/customers/customers-detail.controller.js"></script>
    <script src="js/customers/customers-edit.controller.js"></script><% } %><% if (createDashboard) { %>

    <!-- Dashboard -->
    <script src="js/dashboard/dashboard.module.js"></script>
    <script src="js/dashboard/dashboard.route.js"></script>
    <script src="js/dashboard/dashboard.factory.js"></script>
    <script src="js/dashboard/dashboard.controller.js"></script>
    <script src="js/dashboard/dashboard-settings.controller.js"></script>

    <script src="js/dashboard/widgets/widget.module.js"></script>
    <script src="js/dashboard/widgets/widget-pie.controller.js"></script>
    <script src="js/dashboard/widgets/widget-table.controller.js"></script>
    <script src="js/dashboard/widgets/widget-area.controller.js"></script><% } %><% } %>

</body>
</html>
